[submodule "ZVideoRecorderViewController/RNTimer"]
	path = ZVideoRecorderViewController/RNTimer
	url = git@github.com:zodio/RNTimer.git
[submodule "ZVideoRecorderViewController/ZProgressView"]
	path = ZVideoRecorderViewController/ZProgressView
	url = git@github.com:zodio/ZProgressView.git
